<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <cognitiveSearchConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="Tags"                >Sitecore.SharedSource.CognitiveServices.ImageSearch.Search.ComputedFields.Image.Tags,Sitecore.SharedSource.CognitiveServices.ImageSearch</field>
              <field fieldName="Anger"               >Sitecore.SharedSource.CognitiveServices.ImageSearch.Search.ComputedFields.Image.Emotions.Anger,Sitecore.SharedSource.CognitiveServices.ImageSearch</field>
              <field fieldName="Contempt"            >Sitecore.SharedSource.CognitiveServices.ImageSearch.Search.ComputedFields.Image.Emotions.Contempt,Sitecore.SharedSource.CognitiveServices.ImageSearch</field>
              <field fieldName="Disgust"             >Sitecore.SharedSource.CognitiveServices.ImageSearch.Search.ComputedFields.Image.Emotions.Disgust,Sitecore.SharedSource.CognitiveServices.ImageSearch</field>
              <field fieldName="Fear"                >Sitecore.SharedSource.CognitiveServices.ImageSearch.Search.ComputedFields.Image.Emotions.Fear,Sitecore.SharedSource.CognitiveServices.ImageSearch</field>
              <field fieldName="Happiness"           >Sitecore.SharedSource.CognitiveServices.ImageSearch.Search.ComputedFields.Image.Emotions.Happiness,Sitecore.SharedSource.CognitiveServices.ImageSearch</field>
              <field fieldName="Neutral"             >Sitecore.SharedSource.CognitiveServices.ImageSearch.Search.ComputedFields.Image.Emotions.Neutral,Sitecore.SharedSource.CognitiveServices.ImageSearch</field>
              <field fieldName="Sadness"             >Sitecore.SharedSource.CognitiveServices.ImageSearch.Search.ComputedFields.Image.Emotions.Sadness,Sitecore.SharedSource.CognitiveServices.ImageSearch</field>
              <field fieldName="Surprise"            >Sitecore.SharedSource.CognitiveServices.ImageSearch.Search.ComputedFields.Image.Emotions.Surprise,Sitecore.SharedSource.CognitiveServices.ImageSearch</field>
              <field fieldName="AgeMin"              >Sitecore.SharedSource.CognitiveServices.ImageSearch.Search.ComputedFields.Image.AgeMin,Sitecore.SharedSource.CognitiveServices.ImageSearch</field>
              <field fieldName="AgeMax"              >Sitecore.SharedSource.CognitiveServices.ImageSearch.Search.ComputedFields.Image.AgeMax,Sitecore.SharedSource.CognitiveServices.ImageSearch</field>
              <field fieldName="Gender"              >Sitecore.SharedSource.CognitiveServices.ImageSearch.Search.ComputedFields.Image.Gender,Sitecore.SharedSource.CognitiveServices.ImageSearch</field>
              <field fieldName="Adult"               >Sitecore.SharedSource.CognitiveServices.ImageSearch.Search.ComputedFields.Image.Adult.AdultScore,Sitecore.SharedSource.CognitiveServices.ImageSearch</field>
              <field fieldName="Racy"                >Sitecore.SharedSource.CognitiveServices.ImageSearch.Search.ComputedFields.Image.Adult.RacyScore,Sitecore.SharedSource.CognitiveServices.ImageSearch</field>
              <field fieldName="Glasses"             >Sitecore.SharedSource.CognitiveServices.ImageSearch.Search.ComputedFields.Image.Glasses,Sitecore.SharedSource.CognitiveServices.ImageSearch</field>
              <field fieldName="Size"                >Sitecore.SharedSource.CognitiveServices.ImageSearch.Search.ComputedFields.Image.Size,Sitecore.SharedSource.CognitiveServices.ImageSearch</field>
            </fields>
          </documentOptions>
          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="Anger"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Contempt"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Disgust"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Fear"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Happiness"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Neutral"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Sadness"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Surprise"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="AgeMin"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Double" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="AgeMax"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Double" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Gender"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Int32" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Adult"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Double" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Racy"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Double" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Glasses"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Int32" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Size"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Int32" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Tags"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String[]" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
            </fieldNames>
          </fieldMap>
        </cognitiveSearchConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>