<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
       <configurations>
				<configuration 
					name="Sitecore.SharedSource.CognitiveServices" 
					description="Configuration for the master database in the Sitecore.SharedSource.CognitiveServices Project">
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
					  <include name="RTE-Button" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text Default/Toolbar 1/Insert Cognitive Sitecore Media" />
            <include name="RibbonChunk-Analysis" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Analysis" />
            <include name="RibbonChunk-Utility" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Utility" />
          </predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
