<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.SharedSource.CognitiveServices.App_Start.LoadRoutes,Sitecore.SharedSource.CognitiveServices" patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']" />
      </initialize>
    </pipelines>
    <services>
      <configurator type="Sitecore.SharedSource.CognitiveServices.Configurator.CognitiveConfigurator, Sitecore.SharedSource.CognitiveServices" />
    </services>
    <settings>
      <setting name="CognitiveService.ApiKey.TextAnalytics" value="3db2004bda84452881e9d7a49d973ddd" />
      <setting name="CognitiveService.ApiKey.Recommendations" value="b64c804d042b495b9dc57c74fba8da15" />
      <setting name="CognitiveService.ApiKey.Academic" value="55cd11eb5e854c4dafd860b37adfb076" />
      <setting name="CognitiveService.ApiKey.ComputerVision" value="8245d43e93e5404bbc99cb8aca8234fb" />
      <setting name="CognitiveService.ApiKey.Video" value="6bceff594d18445a9c00d1704fffcf96" />
      <setting name="CognitiveService.ApiKey.WebLM" value="f69451973a284fdd9d66f89d45007c58" />
      <setting name="CognitiveService.ApiKey.EntityLinking" value="ee4c616d3bb04d93ae8e2b7c8dc650d4" />
      <setting name="CognitiveService.ApiKey.LinguisticAnalysis" value="0eb11067e27a47f29d395a67adbad29e" />
      <setting name="CognitiveService.ApiKey.Face" value="bb610175d4f244a4a14d21e55ce9455c" />
      <setting name="CognitiveService.ApiKey.Emotion" value="641c2c12ed1a4ac49203335a43b0c1da" />
      <setting name="CognitiveService.ApiKey.SpeakerRecognition" value="618f25be9a8e4ce68c067d97883d9da0" />
      <setting name="CognitiveService.ApiKey.BingSpeech" value="c89ec45da1a647e492d406a208fe23c6" />
      <setting name="CognitiveService.ApiKey.BingSpellCheck" value="5acb83ebf231413ab249a41baf9595ae" />
      <setting name="CognitiveService.ApiKey.BingAutosuggest" value="c2747390ae264905873ed0a405b917bd" />
      <setting name="CognitiveService.ApiKey.BingSearch" value="adbd89c647144c058497740934d8809a" />
    </settings>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="cognitive_master_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <!-- This initializes index property store. Id has to be set to the index id -->
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/cognitiveSearchConfiguration" />
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/syncMaster" />
            </strategies>
            <commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
              <policies hint="list:AddCommitPolicy">
                <policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
              </policies>
            </commitPolicyExecutor>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>master</Database>
                <Root>/sitecore/content</Root>
              </crawler>
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>master</Database>
                <Root>/sitecore/media library</Root>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
      <indexConfigurations>
        <cognitiveSearchConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
            <indexAllFields>false</indexAllFields>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="imageItemAnalysis"                   >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.ImageItemAnalysis,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="cumulativeImageFieldAnalysis"        >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.CumulativeImageFieldAnalysis,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="individualImageFieldAnalysis"        >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.IndividualImageFieldAnalysis,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="cumulativePresentationFieldAnalysis" >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Presentation.CumulativePresentationFieldAnalysis,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="individualPresentationFieldAnalysis" >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Presentation.IndividualPresentationFieldAnalysis,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="cumulativeTextFieldAnalysis"         >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Text.CumulativeTextFieldAnalysis,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="individualTextFieldAnalysis"         >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Text.IndividualTextFieldAnalysis,Sitecore.SharedSource.CognitiveServices</field>
            </fields>
          </documentOptions>
          <initializeOnAdd>true</initializeOnAdd>
          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="_uniqueid"            storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
            </fieldNames>
          </fieldMap>
          <analyzer ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/analyzer" />
          <fieldReaders ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/fieldReaders"/>
          <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexFieldStorageValueFormatter"/>
          <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexDocumentPropertyMapper"/>
        </cognitiveSearchConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>