<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="cognitive_master_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <!-- This initializes index property store. Id has to be set to the index id -->
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/cognitiveSearchConfiguration" />
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/syncMaster" />
            </strategies>
            <commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
              <policies hint="list:AddCommitPolicy">
                <policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
              </policies>
            </commitPolicyExecutor>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.SharedSource.CognitiveServices.Search.Crawlers.CognitiveCrawler, Sitecore.SharedSource.CognitiveServices">
                <Database>master</Database>
                <Root>/sitecore/content</Root>
              </crawler>
              <crawler type="Sitecore.SharedSource.CognitiveServices.Search.Crawlers.CognitiveCrawler, Sitecore.SharedSource.CognitiveServices">
                <Database>master</Database>
                <Root>/sitecore/media library</Root>
              </crawler>
            </locations>
          </index>
          <index id="cognitive_web_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <!-- This initializes index property store. Id has to be set to the index id -->
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/cognitiveSearchConfiguration" />
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/syncMaster" />
            </strategies>
            <commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
              <policies hint="list:AddCommitPolicy">
                <policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
              </policies>
            </commitPolicyExecutor>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.SharedSource.CognitiveServices.Search.Crawlers.CognitiveCrawler, Sitecore.SharedSource.CognitiveServices">
                <Database>master</Database>
                <Root>/sitecore/content</Root>
              </crawler>
              <crawler type="Sitecore.SharedSource.CognitiveServices.Search.Crawlers.CognitiveCrawler, Sitecore.SharedSource.CognitiveServices">
                <Database>master</Database>
                <Root>/sitecore/media library</Root>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
      <indexConfigurations>
        <cognitiveSearchConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
            <indexAllFields>false</indexAllFields>
            <fields hint="raw:AddComputedIndexField">
              <!-- primary media fields that require web service calls -->
              <field fieldName="EmotionAnalysis"     >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.EmotionAnalysis,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="FacialAnalysis"      >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.FacialAnalysis,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="TextAnalysis"        >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.TextAnalysis,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="VisionAnalysis"      >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.VisionAnalysis,Sitecore.SharedSource.CognitiveServices</field>
              
              <!-- primary content fields that require web service calls -->
              <field fieldName="KeyPhraseAnalysis"   >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Text.KeyPhraseAnalysis,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="LinkAnalysis"        >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Text.LinkAnalysis,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="SentimentAnalysis"   >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Text.SentimentAnalysis,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="LinguisticAnalysis"  >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Text.LinguisticAnalysis,Sitecore.SharedSource.CognitiveServices</field>

              <!--Searchable Cognitive Fields -->
              <field fieldName="Tags"                >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.Tags,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="Anger"               >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.Emotions.Anger,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="Contempt"            >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.Emotions.Contempt,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="Disgust"             >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.Emotions.Disgust,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="Fear"                >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.Emotions.Fear,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="Happiness"           >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.Emotions.Happiness,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="Neutral"             >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.Emotions.Neutral,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="Sadness"             >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.Emotions.Sadness,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="Surprise"            >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.Emotions.Surprise,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="AgeMin"              >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.AgeMin,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="AgeMax"              >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.AgeMax,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="Gender"              >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.Gender,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="Adult"               >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.Adult.AdultScore,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="Racy"                >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.Adult.RacyScore,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="Glasses"             >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.Glasses,Sitecore.SharedSource.CognitiveServices</field>
              <field fieldName="Size"             >Sitecore.SharedSource.CognitiveServices.Search.ComputedFields.Image.Size,Sitecore.SharedSource.CognitiveServices</field>

            </fields>
          </documentOptions>
          <initializeOnAdd>true</initializeOnAdd>
          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="_uniqueid"            storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Anger"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Contempt"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Disgust"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Fear"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Happiness"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Neutral"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Sadness"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Surprise"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="AgeMin"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Double" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="AgeMax"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Double" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Gender"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Int32" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Adult"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Double" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Racy"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Double" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Glasses"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Int32" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Size"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Int32" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Tags"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String[]" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
            </fieldNames>
          </fieldMap>
          <analyzer ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/analyzer" />
          <fieldReaders ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/fieldReaders"/>
          <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexFieldStorageValueFormatter"/>
          <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexDocumentPropertyMapper"/>
        </cognitiveSearchConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>