<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.SharedSource.CognitiveServices.App_Start.LoadRoutes,Sitecore.SharedSource.CognitiveServices" patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']" />
      </initialize>
    </pipelines>
    <services>
      <configurator type="Sitecore.SharedSource.CognitiveServices.Configurator.CognitiveConfigurator, Sitecore.SharedSource.CognitiveServices" />
    </services>
    <settings>
      <setting name="CognitiveService.ApiKey.TextAnalytics" value="" />
      <setting name="CognitiveService.ApiKey.Recommendations" value="" />
      <setting name="CognitiveService.ApiKey.Academic" value="" />
      <setting name="CognitiveService.ApiKey.ComputerVision" value="" />
      <setting name="CognitiveService.ApiKey.Video" value="" />
      <setting name="CognitiveService.ApiKey.WebLM" value="" />
      <setting name="CognitiveService.ApiKey.EntityLinking" value="" />
      <setting name="CognitiveService.ApiKey.LinguisticAnalysis" value="" />
      <setting name="CognitiveService.ApiKey.Face" value="" />
      <setting name="CognitiveService.ApiKey.Emotion" value="" />
      <setting name="CognitiveService.ApiKey.SpeakerRecognition" value="" />
      <setting name="CognitiveService.ApiKey.BingSpeech" value="" />
      <setting name="CognitiveService.ApiKey.BingSpellCheck" value="" />
      <setting name="CognitiveService.ApiKey.BingAutosuggest" value="" />
      <setting name="CognitiveService.ApiKey.BingSearch" value="" />
    </settings>
  </sitecore>
</configuration>