<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
       <configurations>
				<configuration 
					name="Sitecore.SharedSource.CognitiveServices" 
					description="Configuration for the master database in the Sitecore.SharedSource.CognitiveServices Project">
					 <targetDataStore 
					 	physicalRootPath="$(serializationRootPath)"
                        type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" 
                        useDataCache="false"
                        singleInstance="true" />
						<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
							<include name="Ribbon" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Ribbons/Default/Cognitive" />
              <include name="RibbonStrip" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Strips/Cognitive" />
              <include name="RibbonChunk-Analysis" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Analysis" />
              <include name="RibbonChunk-Chat" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Chat" />
            	<include name="RibbonChunk-Utility" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Utility" />
            	<include name="RTE-Button" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text Default/Toolbar 1/Insert Cognitive Sitecore Media" />
          	</predicate>
					<dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
