@model SitecoreCognitiveServices.Foundation.MSSDK.Models.Vision.Computer.Category[]

@if (Model != null)
{
    <div class="detail-box detail-categories">
        <h3>Categories</h3>
        <div class="detail-row">
            @foreach (var c in Model)
            {
                <div>
                    <label>@c.Name.Replace("_", " "): </label>
                    @Html.Partial("~/Areas/SitecoreCognitiveServices/Views/CognitiveImageSearch/Common/MeasureBar.cshtml", (float)c.Score)
                </div>
            }
        </div>
    </div>
}