@using SitecoreCognitiveServices.Feature.ImageSearch.Statics
@model SitecoreCognitiveServices.Foundation.MSSDK.Models.Vision.Computer.Tag[]

@if (Model != null)
{
    <div class="detail-box detail-tags">
        <h3>@Translator.Text("Vision.Tags.TagsHeading")</h3>
        <div class="detail-row">
            @foreach (var t in Model)
            {
                <div class="tag-set">
                    <label>@t.Name: </label>
                    @Html.Partial("~/Areas/SitecoreCognitiveServices/Views/CognitiveImageSearch/Common/MeasureBar.cshtml", (float)t.Confidence)
                </div>
            }
        </div>
    </div>
}