@model object

@{
    ViewBag.Title = "Cognitive Services: Ole Chat";
    Layout = "~/Views/CognitiveCommon/CognitiveLayout.cshtml";
}

<div class="frame">
    <form class="form chat-form" method="post" action="/SitecoreCognitiveServices/CognitiveBot/OleChatRequest">

        <div class="chat-conversation">
            
        </div>

        <input class="chat-input" type="text"/>
            
        <button class="chat-submit scButton">Send</button>
    </form>
</div>