<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="cognitive:ole" type="Sitecore.SharedSource.CognitiveServices.OleChat.Commands.OleChat,Sitecore.SharedSource.CognitiveServices.OleChat"/>
    </commands>
    <services>
      <configurator type="Sitecore.SharedSource.CognitiveServices.OleChat.App_Start.CognitiveConfigurator, Sitecore.SharedSource.CognitiveServices.OleChat" />
    </services>
    <settings>
      <setting name="CognitiveService.OleApplicationId" value="a9b7f39c-692a-499c-bcee-b1e57232b93a" />
    </settings>
  </sitecore>
</configuration>