<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="cognitive:ole" type="SitecoreCognitiveServices.Feature.OleChat.Commands.OleChat,SitecoreCognitiveServices.Feature.OleChat"/>
    </commands>
    <services>
      <configurator type="SitecoreCognitiveServices.Feature.OleChat.App_Start.IocConfig, SitecoreCognitiveServices.Feature.OleChat" />
    </services>
    <settings>
      <setting name="CognitiveService.OleChat.MasterDatabase" value="master" />
      <setting name="CognitiveService.OleChat.DictionaryDomain" value="Ole Chat Dictionary" />
      <setting name="CognitiveService.OleChat.OleChatSettingsId" value="{BF7A09C8-0FF9-42E6-A3CF-01A6FDDC2F49}"/>
    </settings>
  </sitecore>
</configuration>