<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="cognitive:ole" type="SitecoreCognitiveServices.Feature.OleChat.Commands.OleChat,SitecoreCognitiveServices.Feature.OleChat"/>
    </commands>
    <services>
      <configurator type="SitecoreCognitiveServices.Feature.OleChat.App_Start.IocConfig, SitecoreCognitiveServices.Feature.OleChat" />
    </services>
    <settings>
      <setting name="CognitiveService.OleChat.MasterDatabase" value="master" />
      <setting name="CognitiveService.OleChat.WebDatabase" value="web" />
      <setting name="CognitiveService.OleChat.DictionaryDomain" value="Ole Chat Dictionary" />
      <setting name="CognitiveService.OleChat.OleSettingsFolder" value="{BF7A09C8-0FF9-42E6-A3CF-01A6FDDC2F49}"/>
      <setting name="CognitiveService.OleChat.OleTemplatesFolder" value="{A19B09F0-0750-4CBB-A11D-230F65558CAE}" />
      <setting name="CognitiveService.OleChat.SCSDKTemplatesFolder" value="{D7F5E50E-808F-4E71-9EAD-F8CE26CE49A8}" />
      <setting name="CognitiveService.OleChat.SCSModulesFolder" value="{00E3DE41-11A3-4295-9767-9DD3DC832C02}" />
      <setting name="CognitiveService.OleChat.OleAppIdField" value="Application Id" />
      <setting name="CognitiveService.OleChat.TestMessage" value="Hello" />
      <setting name="CognitiveService.OleChat.LuisPublishResource" value="westus" />
    </settings>
  </sitecore>
</configuration>