<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="cognitive:ole" type="SitecoreCognitiveServices.Feature.OleChat.Commands.OleChat,SitecoreCognitiveServices.Feature.OleChat"/>
    </commands>
    <services>
      <configurator type="SitecoreCognitiveServices.Feature.OleChat.App_Start.IocConfig, SitecoreCognitiveServices.Feature.OleChat" />
    </services>
    <settings>
      <setting name="CognitiveService.OleChat.OleApplicationId" value="a9b7f39c-692a-499c-bcee-b1e57232b93a" />
      <setting name="CognitiveService.OleChat.MasterDatabase" value="master" />
      <setting name="CognitiveService.OleChat.DictionaryDomain" value="Ole Chat Dictionary" />
    </settings>
  </sitecore>
</configuration>