.image-search-form { overflow-y: hidden; }
.image-search-form .form-row { margin: 0px;}
.search-results { }
.result-label { font-weight: bold;text-align: center;margin: 2px 0;}
.result-count { font-size:10px; }
.result-filters { border: 1px solid #ccc; width: 250px;float: left; overflow: auto;padding: 5px 0px;height: 455px;}
.result-column { width: 720px;float: right; }
.result-items { border: 1px solid #ccc;height: 435px;overflow-y: scroll; overflow: auto;padding: 5px 2px;}
.result-img-wrap { height: 100px;border: 1px solid #2b2b2b;text-align: center;overflow: hidden; margin: 2px 4px;display: inline-block;}
.result-img-wrap.selected { border: 2px solid #dc291e;margin: 1px 3px;}
.result-img-wrap img { height: 100px;display: block; max-width:690px;}
.search-submit { display: none;}
.scWizardButtons { left: 0px;}

.rte-search-form .chosen-rtl .chosen-drop { left: -9000px; }
.rte-search-form .ui-autocomplete-loading { background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat; }
.rte-search-form .ui-widget-header { background-color: #dc291e; }
.rte-search-form .slider-range { margin-left: 5px; margin-right: 5px; margin-top: 5px; }
.filter { margin-top: 5px; }
.rte-search-form table { font-size: 1em; }
.rte-search-form .ui-draggable, .ui-droppable { background-position: top; }
.rte-search-form .emotion-items { margin: 5px 10px; }
.rte-search-form .emotion-item { margin-bottom: 5px; }
.rte-search-form .emotion-item input { text-align: center; }
.rte-search-form .filter-title, .filter-value { font-size:10px; }
.rte-search-form .section-title { padding-bottom: 4px; font-weight: bold; border-bottom: 1px solid #cccccc; margin:15px 10px 8px;}

.rte-search-form .ui-state-active, 
.rte-search-form .ui-widget-content .ui-state-active, 
.rte-search-form .ui-widget-header .ui-state-active, 
.rte-search-form a.ui-button:active, 
.rte-search-form .ui-button:active, 
.rte-search-form .ui-button.ui-state-active:hover { background: #ededed; border:1px solid #cccccc; }
.rte-search-form .ui-slider-horizontal { height: 0.5em; }
.rte-search-form .ui-slider .ui-slider-handle { height: 0.9em; }
.rte-search-form input:not([type]), 
.rte-search-form input[type="text"], 
.rte-search-form input[type="password"], 
.rte-search-form select, 
.rte-search-form textarea { min-height: auto; padding: 0px; }