<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="SitecoreCognitiveServices.Foundation.SCSDK.App_Start.RegisterArea,SitecoreCognitiveServices.Foundation.SCSDK" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
    </pipelines>
    <services>
      <configurator type="SitecoreCognitiveServices.Foundation.SCSDK.App_Start.IocConfig, SitecoreCognitiveServices.Foundation.SCSDK" />
    </services>
    <settings>
      <!-- Module Settings-->
      <setting name="CognitiveService.IBMSDK.ID" value="{503A5B1D-6F2F-41EC-9A77-AE1DAA37A987}" />
      <setting name="CognitiveService.MSSDK.ID" value="{03BAF8AE-03CB-4E30-875C-0901EBA6A163}" />
      <setting name="CognitiveService.CatchAndReleaseExceptions" value="false" />
      <setting name="CognitiveService.SitecoreIndexNameFormat" value="sitecore_{0}_index" />
      <setting name="CognitiveService.MasterDatabase" value="web" />
      <setting name="CognitiveService.MasterDatabase" value="master" />
      <setting name="CognitiveService.CoreDatabase" value="core" />
    </settings>
  </sitecore>
</configuration>