<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
            <configurations>
				<configuration
					name="SitecoreCognitiveServices.Foundation.SCSDK"
					description="Configuration for the master database in the SitecoreCognitiveServices Solution">
					<targetDataStore 
					    physicalRootPath="$(CognitiveSerializationRootPath)\SCS\SCSDK\"
                        type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" 
                        useDataCache="false"
                        singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<include name="Ribbon" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Ribbons/Default/Cognitive" />
                        <include name="RibbonStrip" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Strips/Cognitive" />
                        <include name="Templates" database="master" path="/sitecore/templates/Sitecore Cognitive Services/SCSDK" />
                        <include name="System-Settings-APIs" database="master" path="/sitecore/system/Modules/Sitecore Cognitive Services/APIs" />
                    </predicate>
					<dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
