<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <startTracking>
        <processor type="LaunchSitecore.Configuration.Pipelines.StartTracking.GeoIpSpoofForLocalhost,LaunchSitecore">
          <patch:delete></patch:delete>
        </processor>
      </startTracking>
      <mvc.exception>
        <processor type="LaunchSitecore.Configuration.Events.mvc.exception.ShowLaunchSitecoreErrorMessage, LaunchSitecore">
          <patch:delete></patch:delete>
        </processor>
      </mvc.exception>
      <getContentEditorWarnings>
        <processor type="LaunchSitecore.Configuration.Pipelines.getContentEditorWarnings.ContentEditorItemNamingNotification, LaunchSitecore">
          <patch:delete></patch:delete>
        </processor>
      </getContentEditorWarnings>
    </pipelines>
    <services>
      <configurator type="SitecoreCognitiveServices.Project.LaunchDemo.App_Start.IocConfig, SitecoreCognitiveServices.Project.LaunchDemo" />
    </services>
    <events>
      <event name="item:saving" >
        <handler type="LaunchSitecore.Configuration.Events.ItemSaving.ItemNameHyphenHandler, LaunchSitecore" method="OnItemSaving">
          <patch:delete></patch:delete>
        </handler>
        <handler type="LaunchSitecore.Configuration.Events.ItemSaving.ItemNameUniqueHandler, LaunchSitecore" method="OnItemSaving">
          <patch:delete></patch:delete>
        </handler>
      </event>
    </events>
  </sitecore>
</configuration>