@model List<Microsoft.ProjectOxford.Text.Language.LanguageResponseDocument>

@if (Model != null)
{
    <div class="language-wrap">
        @foreach (var d in Model)
        {
            <div class="language-detail">
                <h4>
                    @d.Id: 
                </h4>
                @foreach (var l in d.DetectedLanguages)
                {
                    <div class="language-set">
                        <label>
                            @l.Name (@l.Iso639Name)
                        </label>
                        <span>
                            @Html.Partial("Common/MeasureBar", l.Score)
                        </span>
                    </div>
                }
            </div>
        }
    </div>
}