@using System.Web.Mvc.Html
@model List<Sitecore.SharedSource.CognitiveServices.Models.Language.LinguisticAnalysisResult>

@if (Model != null)
{
    <div class="linguistic-wrap">
        @foreach (var l in Model)
        {
            <div class="linguistic-link">
                <h3>
                    @l.FieldName
                </h3>
                <div class="linguistic-content">
                    <h4>Parts of Speech Analysis</h4>
                    <div class="linguistic-content-wrap">
                        @Html.Raw(l.HighlightPOSTags("span", "linguistic-entity"))
                    </div>
                </div>
                <div class="linguistic-content">
                    <h4>Constituency Tree Analysis</h4>
                    <div class="linguistic-content-wrap">
                        @Html.Raw(l.HighlightConstituencyTree("span", "linguistic-entity"))
                    </div>
                </div>
                @*<div class="linguistic-content">
                    <h4>Token Analysis</h4>
                    <div class="linguistic-content-wrap">
                        @Html.Raw(l.HighlightTokens("span", "linguistic-entity"))
                    </div>
                </div>*@
            </div>
        }
    </div>
}