@model Microsoft.ProjectOxford.Common.Rectangle

@if (Model != null)
{
    <div class="rectangle" style="height:@{@Model.Height}px;width:@{@Model.Width}px;top:@{@Model.Top}px;left:@{@Model.Left}px"></div>
}