@model Microsoft.SharedSource.CognitiveServices.Models.Vision.Face.Face[]

@if (Model != null)
{   
    foreach (var f in Model)
    {
        <div class="face-block">
            @Html.Partial("~/Views/CognitiveLaunch/Vision/FaceRectangle.cshtml", f.FaceRectangle)
            <div class="face-wrap" style="top:@{@f.FaceRectangle.Top}px;left:@{@(f.FaceRectangle.Left + f.FaceRectangle.Width + 15)}px">
                <div class="faces">
                    <div class="bg-layer"></div>
                    <div class="face-set">
                        <label>Age: </label>
                        <span>@f.Age</span>
                    </div>
                    <div class="face-set">
                        <label>Gender: </label>
                        <span>@f.Gender</span>
                    </div>
                </div>
            </div>
        </div>
    }
}