<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="cognitive_imagesearch_master_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <!-- This initializes index property store. Id has to be set to the index id -->
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/cognitiveSearchConfiguration" />
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/syncMaster" />
            </strategies>
            <commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
              <policies hint="list:AddCommitPolicy">
                <policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
              </policies>
            </commitPolicyExecutor>
            <locations hint="list:AddCrawler">
              <crawler type="SitecoreCognitiveServices.Feature.ImageSearch.Search.Crawlers.CognitiveCrawler, SitecoreCognitiveServices.Feature.ImageSearch">
                <Database>master</Database>
                <Root>/sitecore/content</Root>
              </crawler>
              <crawler type="SitecoreCognitiveServices.Feature.ImageSearch.Search.Crawlers.CognitiveCrawler, SitecoreCognitiveServices.Feature.ImageSearch">
                <Database>master</Database>
                <Root>/sitecore/media library</Root>
              </crawler>
            </locations>
          </index>
          <index id="cognitive_imagesearch_web_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <!-- This initializes index property store. Id has to be set to the index id -->
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/cognitiveSearchConfiguration" />
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/syncMaster" />
            </strategies>
            <commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
              <policies hint="list:AddCommitPolicy">
                <policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
              </policies>
            </commitPolicyExecutor>
            <locations hint="list:AddCrawler">
              <crawler type="SitecoreCognitiveServices.Feature.ImageSearch.Search.Crawlers.CognitiveCrawler, SitecoreCognitiveServices.Feature.ImageSearch">
                <Database>master</Database>
                <Root>/sitecore/content</Root>
              </crawler>
              <crawler type="SitecoreCognitiveServices.Feature.ImageSearch.Search.Crawlers.CognitiveCrawler, SitecoreCognitiveServices.Feature.ImageSearch">
                <Database>master</Database>
                <Root>/sitecore/media library</Root>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
      <indexConfigurations>
        <cognitiveSearchConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
            <indexAllFields>false</indexAllFields>
            <fields hint="raw:AddComputedIndexField">
              <!-- primary media fields that require web service calls -->
              <field fieldName="EmotionAnalysis"     >SitecoreCognitiveServices.Feature.ImageSearch.Search.ComputedFields.Image.EmotionAnalysis,SitecoreCognitiveServices.Feature.ImageSearch</field>
              <field fieldName="FacialAnalysis"      >SitecoreCognitiveServices.Feature.ImageSearch.Search.ComputedFields.Image.FacialAnalysis,SitecoreCognitiveServices.Feature.ImageSearch</field>
              <field fieldName="TextAnalysis"        >SitecoreCognitiveServices.Feature.ImageSearch.Search.ComputedFields.Image.TextAnalysis,SitecoreCognitiveServices.Feature.ImageSearch</field>
              <field fieldName="VisionAnalysis"      >SitecoreCognitiveServices.Feature.ImageSearch.Search.ComputedFields.Image.VisionAnalysis,SitecoreCognitiveServices.Feature.ImageSearch</field>
              <field fieldName="Tags"                >SitecoreCognitiveServices.Feature.ImageSearch.Search.ComputedFields.Image.Tags,SitecoreCognitiveServices.Feature.ImageSearch</field>
              <field fieldName="Colors"              >SitecoreCognitiveServices.Feature.ImageSearch.Search.ComputedFields.Image.Colors,SitecoreCognitiveServices.Feature.ImageSearch</field>
              <field fieldName="Anger"               >SitecoreCognitiveServices.Feature.ImageSearch.Search.ComputedFields.Image.Emotions.Anger,SitecoreCognitiveServices.Feature.ImageSearch</field>
              <field fieldName="Contempt"            >SitecoreCognitiveServices.Feature.ImageSearch.Search.ComputedFields.Image.Emotions.Contempt,SitecoreCognitiveServices.Feature.ImageSearch</field>
              <field fieldName="Disgust"             >SitecoreCognitiveServices.Feature.ImageSearch.Search.ComputedFields.Image.Emotions.Disgust,SitecoreCognitiveServices.Feature.ImageSearch</field>
              <field fieldName="Fear"                >SitecoreCognitiveServices.Feature.ImageSearch.Search.ComputedFields.Image.Emotions.Fear,SitecoreCognitiveServices.Feature.ImageSearch</field>
              <field fieldName="Happiness"           >SitecoreCognitiveServices.Feature.ImageSearch.Search.ComputedFields.Image.Emotions.Happiness,SitecoreCognitiveServices.Feature.ImageSearch</field>
              <field fieldName="Neutral"             >SitecoreCognitiveServices.Feature.ImageSearch.Search.ComputedFields.Image.Emotions.Neutral,SitecoreCognitiveServices.Feature.ImageSearch</field>
              <field fieldName="Sadness"             >SitecoreCognitiveServices.Feature.ImageSearch.Search.ComputedFields.Image.Emotions.Sadness,SitecoreCognitiveServices.Feature.ImageSearch</field>
              <field fieldName="Surprise"            >SitecoreCognitiveServices.Feature.ImageSearch.Search.ComputedFields.Image.Emotions.Surprise,SitecoreCognitiveServices.Feature.ImageSearch</field>
              <field fieldName="AgeMin"              >SitecoreCognitiveServices.Feature.ImageSearch.Search.ComputedFields.Image.AgeMin,SitecoreCognitiveServices.Feature.ImageSearch</field>
              <field fieldName="AgeMax"              >SitecoreCognitiveServices.Feature.ImageSearch.Search.ComputedFields.Image.AgeMax,SitecoreCognitiveServices.Feature.ImageSearch</field>
              <field fieldName="Gender"              >SitecoreCognitiveServices.Feature.ImageSearch.Search.ComputedFields.Image.Gender,SitecoreCognitiveServices.Feature.ImageSearch</field>
              <field fieldName="Adult"               >SitecoreCognitiveServices.Feature.ImageSearch.Search.ComputedFields.Image.Adult.AdultScore,SitecoreCognitiveServices.Feature.ImageSearch</field>
              <field fieldName="Racy"                >SitecoreCognitiveServices.Feature.ImageSearch.Search.ComputedFields.Image.Adult.RacyScore,SitecoreCognitiveServices.Feature.ImageSearch</field>
              <field fieldName="Glasses"             >SitecoreCognitiveServices.Feature.ImageSearch.Search.ComputedFields.Image.Glasses,SitecoreCognitiveServices.Feature.ImageSearch</field>
              <field fieldName="Size"                >SitecoreCognitiveServices.Feature.ImageSearch.Search.ComputedFields.Image.Size,SitecoreCognitiveServices.Feature.ImageSearch</field>
            </fields>
          </documentOptions>
          <initializeOnAdd>true</initializeOnAdd>
          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="_uniqueid"            storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Anger"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Contempt"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Disgust"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Fear"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Happiness"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Neutral"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Sadness"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Surprise"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Single" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="AgeMin"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Double" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="AgeMax"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Double" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Gender"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Int32" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Adult"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Double" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Racy"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Double" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Glasses"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Int32" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Size"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.Int32" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Tags"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String[]" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="Colors"       storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String[]" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
            </fieldNames>
          </fieldMap>
          <analyzer ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/analyzer" />
          <fieldReaders ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/fieldReaders"/>
          <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexFieldStorageValueFormatter"/>
          <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexDocumentPropertyMapper"/>
          <documentBuilderType ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/documentBuilderType"/>
        </cognitiveSearchConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>