<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="cognitive:viewanalaysis" type="SitecoreCognitiveServices.Feature.ImageSearch.Commands.ViewAnalysis,SitecoreCognitiveServices.Feature.ImageSearch"/>
      <command name="cognitive:analyze" type="SitecoreCognitiveServices.Feature.ImageSearch.Commands.Analyze,SitecoreCognitiveServices.Feature.ImageSearch"/>
      <command name="cognitive:reanalyze" type="SitecoreCognitiveServices.Feature.ImageSearch.Commands.Reanalyze,SitecoreCognitiveServices.Feature.ImageSearch"/>
      <command name="cognitive:reanalyzeall" type="SitecoreCognitiveServices.Feature.ImageSearch.Commands.ReanalyzeAll,SitecoreCognitiveServices.Feature.ImageSearch"/>
      <command name="cognitive:setalttags" type="SitecoreCognitiveServices.Feature.ImageSearch.Commands.SetAltTags,SitecoreCognitiveServices.Feature.ImageSearch"/>
      <command name="cognitive:setalttagsall" type="SitecoreCognitiveServices.Feature.ImageSearch.Commands.SetAltTagsAll,SitecoreCognitiveServices.Feature.ImageSearch"/>
    </commands>
    <services>
      <configurator type="SitecoreCognitiveServices.Feature.ImageSearch.App_Start.IocConfig, SitecoreCognitiveServices.Feature.ImageSearch" />
    </services>
    <settings>
      <setting name="CognitiveService.ImageSearch.Language" value="en" />
      <setting name="CognitiveService.ImageSearch.TextualFieldTypes" value="Rich Text|Single-Line Text|Multi-Line Text|html|text|memo" />
      <setting name="CognitiveService.ImageSearch.IndexNameFormat" value="cognitive_imagesearch_{0}_index" />
    </settings>
  </sitecore>
</configuration>