<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="cognitive:viewanalaysis" type="SitecoreCognitiveServices.Feature.ImageSearch.Commands.ViewAnalysis,SitecoreCognitiveServices.Feature.ImageSearch"/>
      <command name="cognitive:analyze" type="SitecoreCognitiveServices.Feature.ImageSearch.Commands.Analyze,SitecoreCognitiveServices.Feature.ImageSearch"/>
      <command name="cognitive:reanalyze" type="SitecoreCognitiveServices.Feature.ImageSearch.Commands.Reanalyze,SitecoreCognitiveServices.Feature.ImageSearch"/>
      <command name="cognitive:analyzeall" type="SitecoreCognitiveServices.Feature.ImageSearch.Commands.AnalyzeAll,SitecoreCognitiveServices.Feature.ImageSearch"/>
      <command name="cognitive:setalttags" type="SitecoreCognitiveServices.Feature.ImageSearch.Commands.SetAltTags,SitecoreCognitiveServices.Feature.ImageSearch"/>
      <command name="cognitive:setalttagsall" type="SitecoreCognitiveServices.Feature.ImageSearch.Commands.SetAltTagsAll,SitecoreCognitiveServices.Feature.ImageSearch"/>
      <command name="cognitive:webeditimagesearch" type="SitecoreCognitiveServices.Feature.ImageSearch.Commands.WebEditCognitiveImageSearch,SitecoreCognitiveServices.Feature.ImageSearch" />
      <command name="cognitive:webeditviewanalysis" type="SitecoreCognitiveServices.Feature.ImageSearch.Commands.WebEditCognitiveAnalysis,SitecoreCognitiveServices.Feature.ImageSearch" />
    </commands>
    <events>
      <event name="item:deleted">
        <handler type="SitecoreCognitiveServices.Feature.ImageSearch.Events.MediaItemDeleted, SitecoreCognitiveServices.Feature.ImageSearch" method="OnItemDeleted" resolve="true" />
      </event>
    </events>
    <pipelines>
      <renderField>
        <processor patch:instead="processor[@type='Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel']"
                   type="SitecoreCognitiveServices.Feature.ImageSearch.Pipelines.RenderField.GetImageFieldValue, SitecoreCognitiveServices.Feature.ImageSearch">
        </processor>
      </renderField>
    </pipelines>
    <processors>
      <uiUpload>
        <processor patch:before="processor[@type='Sitecore.Pipelines.Upload.Done, Sitecore.Kernel']"
            mode="on" type="SitecoreCognitiveServices.Feature.ImageSearch.Pipelines.Upload.Analyze, SitecoreCognitiveServices.Feature.ImageSearch" resolve="true" />
      </uiUpload>
    </processors>
    <services>
      <configurator type="SitecoreCognitiveServices.Feature.ImageSearch.App_Start.IocConfig, SitecoreCognitiveServices.Feature.ImageSearch" />
    </services>
    <controlSources>
      <source mode="on" namespace="SitecoreCognitiveServices.Feature.ImageSearch.Fields" assembly="SitecoreCognitiveServices.Feature.ImageSearch" prefix="cognitive"/>
    </controlSources>
    <settings>
      <setting name="CognitiveService.ImageSearch.MasterDatabase" value="master" />
      <setting name="CognitiveService.ImageSearch.CoreDatabase" value="core" />
      <setting name="CognitiveService.ImageSearch.Language" value="en" />
      <setting name="CognitiveService.ImageSearch.SitecoreIndexNameFormat" value="sitecore_{0}_index" />
      <setting name="CognitiveService.ImageSearch.CognitiveIndexNameFormat" value="cognitive_imagesearch_{0}_index" />
      <setting name="CognitiveService.ImageSearch.VisualAnalysisField" value="Visual Analysis" />
      <setting name="CognitiveService.ImageSearch.TextualAnalysisField" value="Textual Analysis" />
      <setting name="CognitiveService.ImageSearch.FacialAnalysisField" value="Facial Analysis" />
      <setting name="CognitiveService.ImageSearch.EmotionalAnalysisField" value="Emotional Analysis" />
      <setting name="CognitiveService.ImageSearch.AnalyzedImageField" value="Analyzed Image" />
      <setting name="CognitiveService.ImageSearch.AnalyzeNewImageField" value="Analyze New Images" />
      <setting name="CognitiveService.ImageSearch.ImageAnalysisFolder" value="{DCA68A11-8670-4B60-B752-F95CBBC14E97}" />
      <setting name="CognitiveService.ImageSearch.ImageAnalysisTemplate" value="{84379FC9-E395-470F-9D6B-EA4A2654AE86}" />
      <setting name="CognitiveService.ImageSearch.ImageAnalysisFolder"  value="{DCA68A11-8670-4B60-B752-F95CBBC14E97}" />
      <setting name="CognitiveService.ImageSearch.SampleImage" value="{ADD6D028-AEB2-46DE-ACA0-972DCB83422F}" />
      <setting name="CognitiveService.ImageSearch.ImageSearchFolder" value="{8DE01E53-9B77-456E-AC39-E5A4104DA38C}" />
      <setting name="CognitiveService.ImageSearch.BlogField" value="{40E50ED9-BA07-4702-992E-A912738D32DC}" />
      <setting name="CognitiveService.ImageSearch.ImageSearchFieldFolder" value="{A2C231EF-95F2-40C9-B969-E72F288B28A7}" />
      <setting name="CognitiveService.ImageSearch.DictionaryDomain" value="Image Search Dictionary" />
    </settings>
  </sitecore>
</configuration>