<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/CognitiveLaunchAssets/CognitiveLaunch.css?x=@(new System.Random().Next())" rel="stylesheet" type="text/css" />
    <script src="~/CognitiveLaunchAssets/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="frame">
            <header>
                Head
            </header>
            @RenderBody()
            <footer>
                Foot
            </footer>
        </div>
    </div>
    <script src="~/CognitiveLaunchAssets/CognitiveLaunch.js"></script>
</body>
</html>