@model List<Sitecore.SharedSource.CognitiveServices.Models.Analysis.KeyPhraseAnalysisResult>
@{
    ViewBag.Title = "Key Phrase Analysis";
    Layout = "~/Views/CognitiveLaunch/CognitiveLaunchLayout.cshtml";
}

<div class="frame">
    <form class="form key-phrase-form" method="post" action="/SitecoreCognitiveServices/CognitiveLaunch/KeyPhrase">
        <fieldset>
            <legend>Key Phrase Analysis</legend>
            <div class="form-row">
                <label>provide text</label>
                <br/>
                <textarea type="text" name="text"></textarea>
            </div>
            <div class="scWizardButtons">
                <input type="submit" value="Analyze Text"/>
            </div>
            <div class="text-sample">
                @if (Model != null)
                {
                    @Html.Partial("~/Views/CognitiveLaunch/Text/KeyPhrases.cshtml", Model)
                }
            </div>
        </fieldset>
    </form>
</div>