@model Microsoft.ProjectOxford.Text.Language.LanguageResponse
@{
    ViewBag.Title = "Language Analysis";
    Layout = "~/Views/CognitiveLaunch/CognitiveLaunchLayout.cshtml";
}

<div class="frame">
    <form class="form spell-check-form" method="post" action="/CognitiveLaunchDemo/CognitiveLaunch/Language">
        <fieldset>
            <legend>Language Analysis</legend>
            <div class="form-row">
                <label>provide text</label>
                <br/>
                <textarea type="text" name="text"></textarea>
            </div>
            <div class="scWizardButtons">
                <input type="submit" value="Analyze Text"/>
            </div>
            <div class="text-sample">
                @if (Model != null && Model.Documents != null) {
                    <div class="language-wrap">
                        @foreach (var d in Model.Documents) {
                            <div class="language-detail">
                                <h4>
                                    @d.Id:
                                </h4>
                                @foreach (var l in d.DetectedLanguages) {
                                    <div class="language-set">
                                        <label>
                                            @l.Name (@l.Iso639Name)
                                        </label>
                                        <span>
                                            @Html.Partial("~/Views/CognitiveAnalysis/Common/MeasureBar.cshtml", l.Score)
                                        </span>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }

            </div>
        </fieldset>
    </form>
</div>