@using Sitecore.SharedSource.CognitiveServices.Models.Language
@model LinguisticAnalysisResult
@{
    ViewBag.Title = "Linguistic Analysis";
    Layout = "~/Views/CognitiveLaunch/CognitiveLaunchLayout.cshtml";
}

<div class="frame">
    <form class="form linguistic-form" method="post" action="/CognitiveLaunchDemo/CognitiveLaunch/Linguistic">
        <fieldset>
            <legend>Linguistic Analysis</legend>
            <div class="form-row">
                <label>provide text</label>
                <br/>
                <textarea type="text" name="text"></textarea>
            </div>
            <div class="scWizardButtons">
                <input type="submit" value="Analyze Text"/>
            </div>
            <div class="text-sample">
                @if (Model != null)
                {
                    @Html.Partial("~/Views/CognitiveAnalysis/Text/LinguisticAnalysis.cshtml", new List<LinguisticAnalysisResult> { Model })
                }
            </div>
        </fieldset>
    </form>
</div>