@using Sitecore.SharedSource.CognitiveServices.Models.Analysis
@model List<LinkAnalysisResult>
@{
    ViewBag.Title = "Link Analysis";
    Layout = "~/Views/CognitiveLaunch/CognitiveLaunchLayout.cshtml";
}

<div class="frame">
    <form class="form link-form" method="post" action="/SitecoreCognitiveServices/CognitiveLaunch/Link">
        <fieldset>
            <legend>Link Analysis</legend>
            <div class="form-row">
                <label>provide text</label>
                <br/>
                <textarea type="text" name="text"></textarea>
            </div>
            <div class="scWizardButtons">
                <input type="submit" value="Analyze Text"/>
            </div>
            <div class="text-sample">
                @if (Model != null)
                {
                    @Html.Partial("~/Views/CognitiveAnalysis/EntityLinking/LinkAnalysis.cshtml", Model)
                }
            </div>
        </fieldset>
    </form>
</div>