@model object
   
@{
    ViewBag.Title = "Content Moderator";
    Layout = "~/Views/CognitiveLaunch/CognitiveLaunchLayout.cshtml";
}

@if (Model != null)
{

}

<div class="frame">
    <form class="form moderator-search-form" method="post" action="/CognitiveLaunchDemo/CognitiveLaunch/ModerateImage">
        <fieldset>
            <legend>Giphy Moderator</legend>
            <div class="form-row">
                <input class="moderator-query" type="text" />
            </div>
        </fieldset>
        <div class="image-result">
            <div class="image-file"></div>
            <div class="image-details">
                <div class="adult">
                    <label>Is Adult:</label>
                    <span></span>    
                </div>
                <div class="racy">
                    <label>Is Racy:</label>
                    <span></span>
                </div>
                <br/>
            </div>
        </div>
        <div class="text-result">
            <div class="text-details"></div>
        </div>
        <div class="scWizardButtons">
            <button class="form-submit-image">Moderate Image</button>
            <button class="form-submit-text">Moderate Text</button>
        </div>
    </form>
    <div class="progress-indicator">
        <img src="/sitecore/shell/themes/standard/Images/ProgressIndicator/sc-spinner32.gif" />
    </div>
</div>