@{
    ViewBag.Title = "Content Moderator";
    Layout = "~/Views/CognitiveLaunch/CognitiveLaunchLayout.cshtml";
}

<div class="frame">
    <form class="form moderator-search-form" method="post" action="/CognitiveLaunchDemo/CognitiveLaunch/ModerateImage">
        <fieldset>
            <legend>Giphy Moderator</legend>
            <div class="form-row">
                <input class="moderator-query" type="text" />
            </div>
            <div class="scWizardButtons">
                <button class="form-submit-image">Get Image</button>
            </div>
        </fieldset>
        <div class="image-results">
            <div class="acceptable">
                <h2>Acceptable</h2>
                <div class="list"></div>
            </div>
            <div class="racy">
                <h2>Racy</h2>
                <div class="list"></div>
            </div>
            <div class="adult">
                <h2>Adult</h2>
                <div class="list"></div>
            </div>
        </div>
    </form>
    <div class="progress-indicator">
        <img src="/sitecore/shell/themes/standard/Images/ProgressIndicator/sc-spinner32.gif" />
    </div>
</div>