@{
    ViewBag.Title = "Search Web";
    Layout = "~/Views/CognitiveLaunch/CognitiveLaunchLayout.cshtml";
}

<div class="frame">
    <form class="form web-search-form" method="post" action="/CognitiveLaunchDemo/CognitiveLaunch/GetWebSearch">
        <fieldset>
            <legend>Web Search</legend>
            <div class="form-row">
                <input type="text" name="text" id="text" />
                <div class="results"></div>
            </div>
            <div class="scWizardButtons">
                <button class="form-submit">Search Web</button>
            </div>
        </fieldset>
    </form>
</div>