<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
       <configurations>
         <configuration
           name="Sitecore.SharedSource.CognitiveServices"
           description="Configuration for the master database in the Sitecore.SharedSource.CognitiveServices Project">
           <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
             <include name="RibbonChunk-Chat" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Chat" />
             <include name="Launchpad-Button" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/Tools/Ole" />
           </predicate>
         </configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
