<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="cognitive:contenttagging" type="SitecoreCognitiveServices.Feature.ContentTagging.Commands.CreateClassifier,SitecoreCognitiveServices.Feature.ContentTagging"/>
    </commands>
    <services>
      <configurator type="SitecoreCognitiveServices.Feature.ContentTagging.App_Start.IocConfig, SitecoreCognitiveServices.Feature.ContentTagging" />
    </services>
  </sitecore>
</configuration>