body { color: #131313; font-family: "Open Sans",Arial,sans-serif; font-size: 12px;background: #f0f0f0;}
.frame {}
h1 {}
.tabbed-nav {border-left: 5px solid #dc291e;}
.nav-btn { display: inline-block; padding: 10px 12px;cursor: pointer;background: #fff; }
.nav-btn.selected { background: #2b2b2b none repeat scroll 0 0; color: #fff; }
.nav-btn img { display: inline-block;vertical-align: middle;}
.nav-btn span { vertical-align: middle; }
.tab-content { display: none;position: absolute;top: 0;left: 0; }
.tab-content.selected { display: block; }
.image-analysis-wrapper { position: relative;}
.text-analysis-wrapper { border: 2px solid #2b2b2b; }
.text-analysis-wrapper .tab-content {position: relative; }
.image-wrapper { border: 2px solid #2b2b2b; }
.image-wrapper img { display: block; }
.rectangle { border: 4px solid #dc291e; position: absolute;border-radius: 10px; }
.bg-layer { background-color: #fff;opacity: 0.9;position: absolute;top: 0;right: 0;left: 0;bottom: 0;z-index: 0;border-radius: 5px;}
.face-block{ position: relative;}
.face-block:hover .face-wrap { opacity: 1;width: 94px; }
.face-wrap {z-index: 1; position: absolute;padding: 8px;width:0px;overflow: hidden;
         opacity: 0; 
         transition: opacity .25s ease-in-out, width .25s ease-in-out; 
         -moz-transition: opacity .25s ease-in-out, width .25s ease-in-out; 
         -webkit-transition: opacity .25s ease-in-out, width .25s ease-in-out;}
.faces { width: 94px;}
.face-set { position: relative;z-index: 1;margin-bottom: 2px; }
.face-set label { display: inline-block; text-align: right; width: 45px; }
.face-set span { font-weight: bold;}
.visual-block { position: relative; }
.textual-block { position: relative;}
.region-block { position: absolute;top: 0px;left: 0px;}
.facial-block { position: absolute;top: 0px;left: 0px; }
.facial-block:hover .attribute-wrap { opacity: 1;width: 175px; }
.attribute-wrap {
    z-index: 1;
    position: absolute;
    padding: 8px;
    width: 0px;
    overflow: hidden;
    opacity: 0;
    transition: opacity .25s ease-in-out, width .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out, width .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out, width .25s ease-in-out;
}
.attributes { width: 175px; }
.attr-set { position: relative;z-index: 1;margin-bottom: 2px; }
.attr-set label { display: inline-block; text-align: right; width: 65px; }
.attr-set span { font-weight: bold;}
.landmark-wrap {
    z-index: 0;
    position: absolute;
}
.landmark {background: #dc291e none repeat scroll 0 0; height: 7px; position: absolute; width: 7px; }
.emotion-block{ position: relative;}
.emotion-block:hover .score-wrap { opacity: 1;width: 175px; }
.score-wrap {z-index: 1; position: absolute;padding: 8px;width: 0px; overflow: hidden;
             opacity: 0; 
             transition: opacity .25s ease-in-out, width .25s ease-in-out; 
             -moz-transition: opacity .25s ease-in-out, width .25s ease-in-out; 
             -webkit-transition: opacity .25s ease-in-out, width .25s ease-in-out; }
.scores { width: 175px; }
.score-set { position: relative;z-index: 1;margin-bottom: 2px;}
.score-set label { display: inline-block; text-align: right; width: 65px; }
.score-set span { font-weight: bold;}
.word-block { position: relative;}
.word-block:hover .word-wrap { opacity: 1;width: 94px; }
.word-wrap {z-index: 1; position: absolute;padding: 8px;width:0px;overflow: hidden;text-align: center;
         opacity: 0; 
         transition: opacity .25s ease-in-out, width .25s ease-in-out; 
         -moz-transition: opacity .25s ease-in-out, width .25s ease-in-out; 
         -webkit-transition: opacity .25s ease-in-out, width .25s ease-in-out;}
.word { width: 100px;position: relative;z-index: 1;}
.word span { font-weight: bold;}
.tag-set { position: relative;z-index: 1;margin-bottom: 2px;}
.tag-set label { display: inline-block; text-align: right; width: 65px; }
.tag-set span { font-weight: bold;}
.detail-box { width: 200px;display: inline-block;margin-right: 10px;vertical-align: top; }
.detail-box h3 { background: #2b2b2b; color: #fff; margin-bottom: 10px;padding: 10px 15px;font-weight: bold; }
.detail-row { margin-bottom: 5px;padding: 0px 5px;}
.detail-row span { font-weight: bold;}
.bar-list { margin: 5px 0; padding: 5px 0; position: relative; z-index: 1; }
.bar-list h4 { border-bottom: 1px solid #ccc; margin-bottom: 5px; padding-bottom: 3px;margin-top: 0px; }
.bar-box { background: #ccc;width: 100px;display: inline-block; height: 8px; width: 100px;}
.bar-value { background: #dc291e;height: 8px;}
.bar-00 { width: 0px;}
.bar-01 { width: 10px; }
.bar-02 { width: 20px; }
.bar-03 { width: 30px; }
.bar-04 { width: 40px; }
.bar-05 { width: 50px; }
.bar-06 { width: 60px; }
.bar-07 { width: 70px; }
.bar-08 { width: 80px; }
.bar-09 { width: 90px; }
.bar-10 { width: 100px; }

.color-group { }
.color-group label { display: inline-block;width: 75px;text-align: right;}
.color-set { display: inline-block;vertical-align: middle;}
.color-box { display: inline-block; height:20px;width: 20px;margin-right: 5px;border: 1px solid #ccc;border-radius: 2px;}

.tf-icon { margin-left: 2px;}
.tf-icon img { height: 8px;width: 8px; }
.tag-list span { background: #dc291e;border-radius: 3px;padding: 4px 6px;margin-bottom: 3px;display: inline-block;font-weight: normal;color: #fff;}