@{
    ViewBag.Title = "Spell Check";
    Layout = "~/Views/CognitiveLaunch/CognitiveLaunchLayout.cshtml";
}

<div class="frame">
    <form class="form spell-check-form" method="post" action="/SitecoreCognitiveServices/CognitiveLaunch/CheckSpelling">
        <fieldset>
            <legend>Spell Check</legend>
            <div class="form-row">
                <input type="text" name="text" id="text" />
                <div class="suggestions"></div>
            </div>
            <div class="scWizardButtons">
                <button class="form-submit">Check Spelling</button>
            </div>
        </fieldset>
    </form>
</div>