@model MicrosoftCognitiveServices.Foundation.MSSDK.Models.Vision.Computer.Description

@if (Model != null)
{
    <div class="detail-box detail-description">
        <h3>Description</h3>
        <div class="detail-row">
            <h4>Captions</h4>
            <div>
                @foreach (var cp in Model.Captions)
                {
                    <div>
                        <label>@cp.Text: </label>
                        @Html.Partial("~/Views/CognitiveLaunch/Common/MeasureBar.cshtml", (float)cp.Confidence)
                    </div>
                }
            </div>
        </div>
        <div class="detail-row">
            <h4>Tags</h4>
            <div class="tag-list">
                <span>
                    @Html.Raw(string.Join("</span>, <span>", Model.Tags))
                </span>
            </div>
        </div>
    </div>
}