@using Sitecore.Shell.Framework.Commands.Masters
@using Sitecore.Data.Managers
@model Sitecore.SharedSource.CognitiveServices.Models.ICognitiveSearchResultSet

@{
    ViewBag.Title = "Cognitive Services: Image Description";
    Layout = "~/Views/CognitiveCommon/CognitiveLayout.cshtml";
}

<div class="rte-search-form">
    <div>
        <input class="rte-search-input" type="text"/>
    </div>
</div>
@if (Model != null) {
    
} 