@model Microsoft.ProjectOxford.Vision.Contract.Category[]

@if (Model != null)
{
    <div>
        <h3>Categories</h3>
        @foreach (var c in Model)
        {
            <div>
                <div>
                    <label>Name: </label>
                    <span>@c.Name</span>
                </div>
                <div>
                    <label>Score: </label>
                    <span>@c.Score</span>
                </div>
            </div>
        }
    </div>
}