@model Microsoft.ProjectOxford.Vision.Contract.Category[]

@if (Model != null)
{
    <div class="detail-box detail-categories">
        <h3>Categories</h3>
        @foreach (var c in Model)
        {
            <div>
                <div>
                    <label>@c.Name.Replace("_", " "): </label>
                    @Html.Partial("Common/MeasureBar", (float)c.Score)
                </div>
            </div>
        }
    </div>
}