@model Microsoft.ProjectOxford.Vision.Contract.Description

@if (Model != null)
{
    <div class="detail-box">
        <h3>Description</h3>
        <div>
            <h4>Captions</h4>
            @foreach (var cp in Model.Captions)
            {
                <div>
                    <div>
                        <label>@cp.Text: </label>
                        <span class="bar-box">
                            <div class="bar-value bar-@cp.Confidence.ToString("0.0").Replace(".", "")"></div>
                        </span>
                    </div>
                </div>
            }
        </div>
        <div>
            <h4>Tags</h4>
            <div class="tag-list">
                <span>
                    @Html.Raw(string.Join("</span>, <span>", Model.Tags))
                </span>
            </div>
        </div>
    </div>
}