@model Microsoft.ProjectOxford.Vision.Contract.Description

@if (Model != null)
{
    <div>
        <h3>Description</h3>
        <div>
            <h4>Captions</h4>
            @foreach (var cp in Model.Captions)
            {
                <div>
                    <div>
                        <label>@cp.Text: </label>
                        <span>@cp.Confidence.ToString("0.00") Confident</span>
                    </div>
                </div>
            }
        </div>
        <div>
            <h4>Tags</h4>
            <div>
                <span>
                    @Html.Raw(string.Join("</span>, <span>", Model.Tags))
                </span>
            </div>
        </div>
    </div>
}