@model Microsoft.ProjectOxford.Vision.Contract.Tag[]

@if (Model != null)
{
    <div class="detail-box">
        <h3>Tags</h3>
        @foreach (var t in Model)
        {
            <div>
                <div class="tag-set">
                    <label>@t.Name: </label>
                    @Html.Partial("Common/MeasureBar", (float)t.Confidence)
                </div>
            </div>
        }
    </div>
}