@model Microsoft.ProjectOxford.Vision.Contract.Tag[]

@if (Model != null)
{
    <div class="detail-box">
        <h3>Tags</h3>
        @foreach (var t in Model)
        {
            <div>
                <div class="tag-set">
                    <label>@t.Name: </label>
                    <span class="bar-box">
                        <div class="bar-value bar-@t.Confidence.ToString("0.0").Replace(".", "")"></div>
                    </span>
                </div>
            </div>
        }
    </div>
}