@model Sitecore.SharedSource.CognitiveServices.LaunchDemo.Models.ReviewResponse
@{
    ViewBag.Title = "Content Moderator - Review";
    Layout = "~/Views/CognitiveLaunch/CognitiveLaunchLayout.cshtml";
}

<div class="frame">
    <form class="form cm-review-form" method="post" action="/CognitiveLaunchDemo/CognitiveLaunch/ContentModeratorReview">
        <fieldset>
            <legend>Review</legend>
            <div class="form-row">
                <label>Review</label>
                <br/>
                <textarea type="text" name="text"></textarea>
            </div>
            <div class="scWizardButtons">
                <input type="submit" value="Review"/>
            </div>
        </fieldset>
    </form>
</div>