@model Sitecore.SharedSource.CognitiveServices.LaunchDemo.Models.TermListResponse
@{
    ViewBag.Title = "Content Moderator - Term Lists";
    Layout = "~/Views/CognitiveLaunch/CognitiveLaunchLayout.cshtml";
}

<div class="frame">
    
    <li>Get All Terms</li>
    <li>Add Term</li>
    <li>Get All Term Lists</li>
    <li>Create Term List</li>
    
    <form class="form cm-term-list-form" method="post" action="/CognitiveLaunchDemo/CognitiveLaunch/ContentModeratorTermList">
        <fieldset>
            <legend>Create Review</legend>
            <div class="form-row">
                <label>Team Name</label>
                <input type="text" name="teamName" />
            </div>
            <div class="form-row">
                <label>Image Url</label>
                <input type="text" name="imageUrl" />
            </div>
            <div class="scWizardButtons">
                <input type="submit" value="Create Review" />
            </div>
            @if (Model != null)
            {
            }
        </fieldset>
    </form>
</div>